:root {
  --custom-white: #fdfcfa;
  --custom-black: #101214;
  --link-color: #5d8d7d;
  --light-green: #c3cfcb;
  --mid-grey: #a9b1bb;
  --light-grey: #e5e8ec;
  --light-slate-grey: #848a92;
  --white-smoke: #f8f8f8;
  --cream: #e3dcd2;
  --mid-black: #333;
  --white: white;
  --black: black;
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 600; /* Normal weight */
  margin: 0;
}

body {
  background-color: var(--custom-white);
}

.nav-bar {
  /* will-change: background; */
  /* background-color: rgba(0, 0, 0, 0); */
  /* background-color: #0000; */

  border-bottom-right-radius: 10px;
  padding: 10px 50px;
  position: fixed;
  inset: 0% 0% auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  /* 
  z-index: 1000;
  background: #ddd;
  position: relative; */
}

#navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  white-space: nowrap;
}

.w-nav {
  z-index: 1000;
  /* background: #ddd; */
}

nav {
  background-color: #0000;
  /* margin-top: 2rem; */
}

nav > ul {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  flex: 1;
  text-align: center;
}

.logo {
  border-radius: 50%;
  width: 70px;
}

.section-hero {
  background-color: var(--light-green);
  flex-direction: row;
  align-items: center;
  min-height: 80vh;
  display: flex;

  width: 100%;
  padding: 90px 75px;
  position: relative;
}

.shape-wrapper {
  background-color: var(--custom-white);
  width: 100%;
}

.wave-shape {
  width: 100%;
  min-height: 160px;
  margin-top: -10px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
}

header.w-nav {
  z-index: 1000;
  background: #ddd;
  position: relative;
}

.container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home-grid {
  grid-column-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.hero-title {
  color: var(--mid-black);
  margin-bottom: 15px;
  font-size: 3.8rem;
  font-weight: 400;
}
.hero-subtitle {
  margin-bottom: 30px;
  font-family: Lora, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.hero-text {
  /* font-size: 0.8rem; */
}

.section {
  padding: 90px 75px;
  width: 100%;
}

.image-wrapper {
  object-fit: fill;
  /* border-radius: 50%; */
  height: 0;
  /* padding-top: 50%;
  padding-bottom: 50%; */
  position: relative;
  overflow: hidden;
  width: 566px;
  height: 566px;
}

.profile-picture {
  /* border-radius: 40%; */
  inset: 0%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  position: absolute;
}

.heading-small {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.intro-grid {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1fr;
  align-items: stretch;
}

.therapy-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  border-radius: 7px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.therapy-round-wrapper {
  text-align: center;
  border-radius: 40px 40px 40px 0;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 13px;
  padding: 13px;
  font-weight: 600;
  display: flex;
}

.container-small {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.square-image-wrapper {
  /* object-fit: fill;
  border-radius: 7px;
  height: 0;
  padding-top: 50%;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden; */
}

.heading-xsmall {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.text-note {
  font-weight: 700;
  font-style: italic;
}

.pill-blue {
  background-color: #6d7d8230;
}
.pill-green {
  background-color: #ccdadd;
}
.pill-grey {
  background-color: #c2cccf;
}
.pill-white {
  background-color: #8996886e;
}
.pill-cream {
  background-color: #cfc8c2;
}
.pill-dark-grey {
  background-color: #e3dcd2;
}
